.profile {
    margin-top: 100px;
    display: flex;
    flex-direction: row;
    width: 100%;
}
.tabs {
    display: flex;
    flex-direction: column;
    width: 420px;
    align-items: flex-start;
    margin-left: 30px;
}
.tabs > div {
    display: flex;
    box-shadow: none;
    align-items: flex-start;
    padding-left: 0;
}
.content {
    width: 100%;
}
